<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="header">
      <div class="header__left">
        <div class="header__logo"><img src="../assets/Frame.svg" alt="logo"></div>
        <nav class="header__up">
          <div class="nav__item">Главная</div>
          <div class="nav__item">O компании</div>
          <div class="nav__item">Каталог</div>
        </nav>
      </div>
      <div class="header__right">
        <div class="header__phone">
          <img src="../assets/Phone.png" alt="phone" class="phone__img">
          <p>+7 (965) 084-29-29</p>
        </div>
        <img src="../assets/heart 1.svg" alt="heart" class="heart">
        <button class="basket">
          <img src="../assets/cart.svg" alt="" class="basket__img">
          <p class="basket__txt">Пусто</p>
        </button>
      </div>
    </div>
    <div class="header__low">
      <div class="hl_left">
        <div class="catalog">
          <img src="../assets/light.svg" alt="" class="catalog__img">
          <p class="catalog__txt">Каталог</p>
        </div>
        <nav class="nav__header__low">
          <div class="hl__item">Стройматериалы</div>
          <div class="hl__item">Инструменты</div>
          <div class="hl__item">Электрика</div>
          <div class="hl__item">Интерьер и одежда</div>
        </nav>
      </div>
      <div class="hl__right">
        <input type="text" placeholder="Поиск, например Круг зачистной " class="hl__input">
        <div class="location">
          <img src="../assets/map-pin (2) 1.svg" alt="" class="location__img">
          <p class="location__txt">Москва</p>
        </div>
      </div>
    </div>
</body>
</html>